extends storeLayout

block style
	link(rel="stylesheet", href="/css/store.css")

block content
	div.section.page.page1

	div.section.page.page2

	div.section.page.page3

block script
	script(src='/js/store.js')
	

