*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    background-color: #ffe84a;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
}

html,body{
    width: 100%;
    height: 100%;
}

.page{
    height: 100%;
    width: 100%;
}

.page1{
    margin-top: 15%;
}

.row{
    overflow: hidden;
    position: relative;
}

.total-count-container{
    margin-left: 1.6rem;
    float: left;
}

.total-count,.total-count-bg{
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    border: solid 0.06rem #934d1f;
}

.total-count{
    font-family: FZCYSJW--GB1-0;
    color: #934d1f;
    text-align: center;
    background-color: #ffe84a;
    position: relative;
    z-index: 100;
    font-weight: bold;
}

.total-count-bg{
    background: -webkit-repeating-linear-gradient(-45deg,#934d1f 29px,#934d1f 30px,#fff 30px,#fff 38px);
    margin-top: -1.5rem;
}

.total-count-bg span{
    opacity: 0;
}

.dot{
    position: absolute;
    top: 0.7rem;
    height: 0.2rem;
    width: 0.2rem;
    background-color: #934d1f;
}

.left-dot{
    left: 0.8rem;
}

.right-dot{
    right: 0.8rem;
}

.summary{
    font-size: 0.75rem;
	line-height: 1.75rem;
    color: #934d1f;
}

.history-summary{
    width: 10rem;
    margin-left: 1.6rem;
    margin-top: 0.8rem;
}

.large-text{
    padding: 0 0.4rem;
    font-size: 2rem;
    color: #4a1f03;
    font-family: FZCYSJW--GB1-0;
}

.paper-plane{
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-top: 0.6rem;
}

.count-summary{
    width: 56%;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.page1-cartoon{
    width: 60%;
}