*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffe84a;
}

.page{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.row{
    overflow: hidden;
    position: relative;
}

.total-count-container{
    margin-left: 1.6rem;
    float: left;
}

.total-count,.total-count-bg,.page2-title,.page2-title-bg{
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    border: solid 0.06rem #934d1f;
}

.total-count,.page2-title{
    font-family: FZCYSJW--GB1-0;
    color: #934d1f;
    text-align: center;
    background-color: #ffe84a;
    position: relative;
    z-index: 100;
    font-weight: bold;
}

.total-count-bg,.page2-title-bg{
    background: -webkit-repeating-linear-gradient(-45deg,#934d1f 29px,#934d1f 30px,#fff 30px,#fff 38px);
    margin-top: -1.5rem;
}

.total-count-bg span{
    opacity: 0;
}

.dot{
    position: absolute;
    top: 0.7rem;
    height: 0.2rem;
    width: 0.2rem;
    background-color: #934d1f;
}

.left-dot{
    left: 0.8rem;
}

.right-dot{
    right: 0.8rem;
}

.summary,.rank-item{
    font-size: 0.75rem;
	line-height: 1.75rem;
    color: #934d1f;
}

.history-summary{
    width: 10rem;
    margin-left: 1.6rem;
    margin-top: 0.8rem;
}

.large-text{
    padding: 0 0.4rem;
    font-size: 2rem;
    color: #4a1f03;
    font-family: FZCYSJW--GB1-0;
}

.paper-plane{
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-top: 0.6rem;
}

.count-summary{
    width: 56%;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.page1-cartoon{
    width: 60%;
}

.page-arrow{
    width: 8%;
    display: block;
    margin: 1.6rem auto 0;
}

/* page2 */
.page2-title-container{
    width: 10rem;
    margin: 0 auto;
}

.colleague-summary{
    margin-top: 1.4rem;
    padding: 0 10%;
}

.thumb{
    width: 2rem;
    vertical-align: bottom;
}

.rank-row{
    position: relative;
    margin-bottom: 10%;
}

.rank-table-bg{
    margin: 1rem auto 0;
    width: 80%;
    padding-bottom: 80%;
    background: url('/img/page2-table-bg.png') no-repeat center center;
    background-size: contain;
}

.rank-table{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

.rank-item{
    overflow: hidden;
    line-height: 2rem;
    margin: 0 1rem;
    padding: 0 0.4rem;
    border-bottom: solid 0.05rem #cda184;
}

.rank-name{
    float: left;
}

.rank-value{
    float: right;
}

.page2{
    background-color: #fff;
}

.page2-bg{
    background-color: #ffe84a;
    width: 800%;
    position: absolute;
    height: 800%;
    border-bottom-left-radius: 400%;
    border-bottom-right-radius: 400%;
    top: -708%;
    left: -350%;
}

.page2-bottom-row{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
}

.college-frame{
    width: 100%;
    height: 100%;
}