.main{
    width: 90%;
    margin: 0 auto;
    border-radius: 0.4rem;
    overflow: hidden;
    font-size: 0.7rem;
    color: #934d1f;
}

.top-row,.bottom-row{
    background-color: rgba(255,255,255, 0.5);
    line-height: 2rem;
    padding: 0 1rem;
    font-family: FZCYSJW--GB1-0;
    font-weight: bold;
}

.college-patent-count{
    font-size: 1.1rem;
}

.mid-row{
    background-color: #fff;
    padding: 0.8rem;
}

.time-range{
    text-align: center;
    font-family: FZCYSJW--GB1-0;    
}

#canPie{
    width: 35%;
    height: 35%;
    float: left;
}

.chart-container{
    margin-top: 5%;
    overflow: hidden;
}

.count-list{
    float: right;
    width: 65%;
    padding-left: 8%;
}

.count-item{
    width: 100%;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(146, 77, 31, 0.2);
    overflow: hidden;
    padding: 0 0.2rem;
}

.count-value{
    display: block;
    float: right;
}

.color-tip{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
    margin-right: 0.4rem;
}

.fmzl-color{
    background-color: #ff8e3c;
}

.syxx-color{
    background-color: #ffe84a;
}

.wgsj-color{
    background-color: #FFAF29;
}

.rank-clue{
    text-align: center;
    overflow: hidden;
    line-height: 2.2rem;
    width: 90%;
    margin: 3% auto;
}

.leaf{
    display: block;
    float: left;
    width: 8%;
}

.rank-clue-txt{
    display: block;
    float: left;
    width: 84%;
    font-size: 0.84rem;
}

.sperator1{
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(146, 77, 31, 0.2);
}

.mid-row2{
    padding-top: 0;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid rgba(146, 77, 31, 0.2);    
}

.mid-row2>div{
    float: left;
}

.row2-icon{
    width: 0.8rem;
}

.colleague-container,.field-container{
    width: 50%;
    text-align: center;
    line-height: 1.2rem;
}

.rank-item{
    border-bottom: 1px dotted rgba(146, 77, 31, 0.2);        
    padding: 0 1.2rem;
}

.mid-row3{
    padding-top: 0.4rem;
}

.bottom-row{
    padding: 0.3rem 0.5rem;;
    font-family: inherit;
    font-size: 0.6rem;
}

.thanks{
    line-height: 0.8rem;
}