*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page{
    background: url('/img/store/page1-bg.png') no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 15%;
}

.page-arrow{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    width:6%;
}

.title{
    margin: 0 auto;
    width: 40%;
    display: block;
}

.highlight{
    color: #22ffeb;    
}

.highlight-txt{
    font-size: 2rem;
    padding: 0 0.5rem;
    color: #22ffeb;
    font-family: FZCYSJW--GB1-0;
}

.content1,.content2{
    border: solid 1px #1460eb;
    padding: 1.4rem;
    width: 68%;
    margin: 8% auto 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.divider-outter, .divider-inner{
    height: 0.6rem;
    width: 20%;
    margin: 0 auto;
    border-left: solid 1px #1460eb;
    border-right: solid 1px #1460eb;
}

.divider-inner{
    width: 86%;
}

.content2{
    margin-top: 0;
}

.cup{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 100%;
}

.page2>.title{
    margin: 0 auto;
    width: 46%;
    display: block;
}

.divider{
    margin: -1px auto;
    width: 20%;
    display: block;
}

.page2 .content{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    position: relative;
    padding: 4% 7%;
}

.page2 .content-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.content-item{
    overflow: hidden;
    padding: 6% 0;
    color: #fff;
}

.content-item-title{
    font-size: 1.6rem;
}

.content-item-icon{
    float: left;
    width: 28%;
}

.content-item-info{
    width: 60%;
    float: right;
}

.content-item2 .content-item-icon{
    float: right;
}

.content-item2 .content-item-info{
    float: left;
}

.content-item-detail{
    font-size: 1.2rem;
    margin-top: 0.8rem;
    line-height: 1.6rem;
}

.divider1,.divider2{
    position: relative;
    top: -2px;
    width: 100%;
}